In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import csv

In [2]:
df=pd.read_csv("loan_train.csv")
df1=pd.read_csv("loan_test.csv")
combine=[df,df1]

In [3]:
#types of features
df.dtypes
#drop unrequired things

df.drop('Loan_ID',axis=1,inplace=True)
#for counting values in the data frame
df['Gender'].value_counts()
#for couting null values in data frame
sum(pd.isnull(df['Gender']))
#for filling the missing values
df['Gender'].fillna('Male',inplace=True)
#to fill the values with the required strings
y_map={'Male':0,'Female':1}
df['Gender']=[y_map[item] for item in df['Gender']]

In [4]:
#for getting the total sum of values in the particular feature
df['Married'].value_counts().sum()
df['Married'].fillna('Yes',inplace=True)
y_map={'Yes':1,'No':0}
df['Married']=[y_map[item] for item in df['Married']]

In [5]:
df['Dependents'].fillna('0',inplace=True)
df['Dependents'].value_counts().sum()

614

In [6]:
df['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [7]:
df['Self_Employed'].fillna('No',inplace=True)
df['Self_Employed'].value_counts()

No     532
Yes     82
Name: Self_Employed, dtype: int64

In [8]:
df['ApplicantIncome'].value_counts().sum()

614

In [9]:
df['CoapplicantIncome'].value_counts().sum()

614

In [10]:
df['LoanAmount'].fillna(df['LoanAmount'].median(),inplace=True)

In [11]:
df['LoanAmount'].value_counts().sum()

614

In [12]:
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].median(),inplace=True)
df['Loan_Amount_Term'].value_counts().sum()

614

In [13]:
df['Credit_History'].fillna(df['Credit_History'].median(),inplace=True)
df['Credit_History'].value_counts().sum()

614

In [14]:
df['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [15]:
y_map={'Semiurban':0,'Urban':1,'Rural':2}
df['Property_Area']=[y_map[item] for item in df['Property_Area']]

In [16]:
df['Loan_Status'].value_counts()
y_map={'Y':1,'N':0}
df['Loan_Status']=[y_map[item] for item in df['Loan_Status']]
df.dtypes

Gender                 int64
Married                int64
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [17]:
df['Dependents'].value_counts()
y_map={'0':0,'1':1,'2':2,'3+':3}
df['Dependents']=[y_map[item] for item in df['Dependents']]

In [18]:
df['Education'].value_counts()
y_map={'Graduate':0,'Not Graduate':1}
df['Education']=[y_map[item] for item in df['Education']]

In [19]:
df['Self_Employed'].value_counts()
y_map={'No':0,'Yes':1}
df['Self_Employed']=[y_map[item] for item in df['Self_Employed']]

In [20]:
df['ApplicantIncome'] = df['ApplicantIncome'].astype('int')
df['CoapplicantIncome']=df['CoapplicantIncome'].astype('int')
df['LoanAmount']=df['LoanAmount'].astype('int')
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype('int')
df['Credit_History']=df['Credit_History'].astype('int')

In [21]:
X=df.iloc[0:,0:11]
Y=df.iloc[0:,11:12]
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,0,0,0,0,5849,0,128,360,1,1
1,0,1,1,0,0,4583,1508,128,360,1,2
2,0,1,0,0,1,3000,0,66,360,1,1
3,0,1,0,1,0,2583,2358,120,360,1,1
4,0,0,0,0,0,6000,0,141,360,1,1
5,0,1,2,0,1,5417,4196,267,360,1,1
6,0,1,0,1,0,2333,1516,95,360,1,1
7,0,1,3,0,0,3036,2504,158,360,0,0
8,0,1,2,0,0,4006,1526,168,360,1,1
9,0,1,1,0,0,12841,10968,349,360,1,0
10,0,1,2,0,0,3200,700,70,360,1,1
11,0,1,2,0,0,2500,1840,109,360,1,1
12,0,1,2,0,0,3073,8106,200,360,1,1
13,0,0,0,0,0,1853,2840,114,360,1,2
14,0,1,2,0,0,1299,1086,17,120,1,1
15,0,0,0,0,0,4950,0,125,360,1,1
16,0,0,1,1,0,3596,0,100,240,1,1
17,1,0,0,0,0,3510,0,76,360,0,1
18,0,1,0,1,0,4887,0,133,360,1,2
19,0,1,0,0,0,2600,3500,115,360,1,1
20,0,1,0,1,0,7660,0,104,360,0,1
21,0,1,1,0,0,5955,5625,315,360,1,1
22,0,1,0,1,0,2600,1911,116,360,0,0
23,0,1,2,1,0,3365,1917,112,360,0,2
24,0,1,1,0,0,3717,2925,151,360,1,0
25,0,1,0,0,1,9560,0,191,360,1,0
26,0,1,0,0,0,2799,2253,122,360,1,0
27,0,1,2,1,0,4226,1040,110,360,1,1
28,0,0,0,1,0,1442,0,35,360,1,1
29,1,0,2,0,0,3750,2083,120,360,1,0
...,...,...,...,...,...,...,...,...,...,...,...
584,0,1,1,0,0,2787,1917,146,360,0,2
585,0,1,1,0,0,4283,3000,172,84,1,2
586,0,1,0,0,0,2297,1522,104,360,1,1
587,1,0,0,1,0,2165,0,70,360,1,0
588,0,0,0,0,0,4750,0,94,360,1,0
589,0,1,2,0,1,2726,0,106,360,0,0
590,0,1,0,0,0,3000,3416,56,180,1,0
591,0,1,2,0,1,6000,0,205,240,1,0
592,0,0,3,0,1,9357,0,292,360,1,0
593,0,1,0,0,0,3859,3300,142,180,1,2
594,0,1,0,0,1,16120,0,260,360,1,1
595,0,0,0,1,0,3833,0,110,360,1,2
596,0,1,2,1,1,6383,1000,187,360,1,2
597,0,0,0,0,0,2987,0,88,360,0,0
598,0,1,0,0,1,9963,0,180,360,1,2
599,0,1,2,0,0,5780,0,192,360,1,1
600,1,0,3,0,0,416,41667,350,180,1,1
601,0,1,0,1,0,2894,2792,155,360,1,2
602,0,1,3,0,0,5703,0,128,360,1,1
603,0,0,0,0,0,3676,4301,172,360,1,2
604,1,1,1,0,0,12000,0,496,360,1,0
605,0,1,0,1,0,2400,3800,128,180,1,1
606,0,1,1,0,0,3400,2500,173,360,1,0
607,0,1,2,1,0,3987,1411,157,360,1,2
608,0,1,0,0,0,3232,1950,108,360,1,2
609,1,0,0,0,0,2900,0,71,360,1,2
610,0,1,3,0,0,4106,0,40,180,1,2
611,0,1,1,0,0,8072,240,253,360,1,1
612,0,1,2,0,0,7583,0,187,360,1,1
613,1,0,0,0,1,4583,0,133,360,0,0

In [22]:
from sklearn.model_selection import train_test_split
#from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [23]:
df=df.drop(['Loan_Status'],axis=1)

In [24]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=0,test_size=0.45)
model=LogisticRegression()
model.fit(x_train,y_train.values.ravel())
predictions=model.predict(x_test)
accuracy_score(predictions,y_test)

0.8122743682310469

In [34]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=0,test_size=0.5969355)
model=RandomForestClassifier(n_estimators=100)
model.fit(x_train,y_train.values.ravel())
predictions=model.predict(x_test)
accuracy_score(predictions,y_test)
x_test.shape

(367, 11)

In [26]:
df1=pd.read_csv('loan_test.csv')
ids=df1['Loan_ID']
predictions

array([1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1])

In [27]:
y_map={1:'Y',0:'N'}
predictions=[y_map[item] for item in predictions]
output = pd.DataFrame({ 'Loan_ID' : ids, 'Loan_Status': predictions })
output.to_csv('submission.csv', index=False)

In [28]:
sn.barplot(x='Gender',y='Loan_Status',data=df)
plt.show()

ValueError: Could not interpret input 'Loan_Status'

In [ ]:
sn.pairplot(df,hue='Loan_Status',size=3)
plt.show()

In [ ]:
df1.drop(['Loan_ID'],axis=1,inplace=True)

In [ ]:
df1

In [ ]:
model.predict(df1)

In [ ]:
df=pd.read_csv("loan_train.csv")
df1=pd.read_csv("loan_test.csv")
combine=[df,df1]

In [ ]:
for dataset in combine:
    print(dataset['Loan_ID'])